home-assistant.log
home-assistant.log.*
home-assistant_v2.db
home-assistant_v2.db-*
secrets.yaml
ip_bans.yaml
known_devices.yaml
.ha_run.lock
.ruff.toml
*.db
*.sqlite
*.sqlite3
*.tmp
*.swp
*.pyc
*.log
.yaml_fix_backups
.yaml_fix_backups/*
.ha_fix_yaml.py
.smbdelete*
.DS_Store
Thumbs.db
